* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    color: #4a4a4a;
    background-color: #FFFFFF;
    text-align: center;
    margin: 14px;

    display: flex;
    flex-wrap: wrap;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.4em;
    border: 1px red solid;
}

a {
    text-decoration: none;
}

header {
    background-color: #FAFAFA;
    margin-bottom: 51px;
}

#top-page {
    font-weight: 700;
    font-size: 1.5em;
    border: 1px red solid;
    padding: 15px;
}

h2 {
    font-weight: 700;
    font-size: 0.9em;
}

h3 {
    font-weight: 400;
    font-size: 1.1em;

    margin-bottom: 12px;
}

.image {
    width: 100%;
    margin-bottom: 33px;
}

.profile {
    padding: 42px 45px 0 45px;
}

#portfolio {
    margin-bottom: 52px;
}

p {
    margin-bottom: 36px;
}

footer {
    background-color: #FAFAFA;
}



/*
/*Mobile Styles
@media only screen and (max-width: 600px) {

}

/*Tablet Styles
@media only screen and (min-width: 601px) and (max-width: 960px) {

}

/*Desktop Styles
@media only screen and (min-width: 961px) {

}*/