* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4em;
}

.page {
    color: #4a4a4a;
    background-color: #FFFFFF;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
}

.header-section {
    background-color: #FAFAFA;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
}

header {
    margin: 14px;
}

#top-page {
    font-weight: 700;
    font-size: 1.5em;
    padding: 15px;
    margin-bottom: 10px;
}

.menu li {
    background-color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    margin-bottom: 5px;

    list-style-type: none;
}

h2 {
    font-weight: 700;
    font-size: 0.9em;
}

h3 {
    font-weight: 400;
    font-size: 1.1em;

    margin-bottom: 12px;
}

.image {
    width: 100%;
    margin-bottom: 30px;
}

.profile-picture {
    width: 100%;
    padding: 40px 45px 25px 45px;
}

.main {
    margin: 14px;
}

#portfolio {
    margin-bottom: 52px;
}

p {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 36px;
}

.calculator > p {
    margin-bottom: 52px;
}

.footer-section {
    background-color: #FAFAFA;
}

footer {
    margin: 14px;
}

.contact-page {
    margin-top: 50px;
    margin-bottom: 65px;

    color: #7F7F7F;
}

#contact {
    margin-bottom: 32px;
    color: #4a4a4a;
}

address > p {
    margin-bottom: 15px;
}

address > p:last-of-type {
    margin-bottom: 0;
}

address > a {
    font-style: normal;
}

address {
    all: initial;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Roboto", sans-serif;
    font-size: inherit;
    font-weight: inherit;
    color: #7F7F7F;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-bottom: 30px;
    padding: 25px 0 0 0;
    border-top: 1px solid #E7E7E7;
}

.footer-menu-elements {
    display: flex;
    justify-content: space-between;
    width: 100%;

    list-style-type: none;
    font-size: 12px;
    font-weight: 700;
}

.student-name-footer {
    font-size: 15px;
}

.menu-item:link,
.menu-item:visited {
    color: inherit;
}

.menu-item:hover {
    color: orange;
}

.menu-item:active {
    color: #FFE078;
}

.address-item:link,
.address-item:visited {
    color: inherit;
}

.address-item:hover {
    color: orange;
}

.back-to-top:link,
.back-to-top:visited,
.back-to-top:hover {
    color: inherit;
}

.back-to-top:active {
    color: #FFE078;
}

@media only screen and (max-width: 600px) {
    .other-devices-footer {
        display: none;
    }
}

/*Tablet Styles*/
@media only screen and (min-width: 601px) and (max-width: 960px) {
/*Header*/
    .header-section {
        margin-bottom: 0px;
    }
    #top-page {
        margin-top: 45px;
        margin-bottom: 15px;
    }
    header {
        margin: 30px;
    }
    .menu{
        display: flex;
        justify-content: center;
    }
    .menu li {
        background-color: #FAFAFA;
        padding: 0 20px;
        margin-bottom: 60px;

        list-style-type: none;
    }
    .profile-section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        
        margin-bottom: 55px;
    }
    .profile-picture {
        padding: 0;
        max-width: 41%;
        height: 41%;
        margin-left: 10px;
    }
    .profile-text {
        font-size: 20px;
        font-weight: 300;
        text-align: left;
        line-height: 1.5em;
    }

    /*Main*/
    .portfolio-section {
        width: 100%;
        margin-bottom: 0px;
    }
    .main {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 50px;
        margin-bottom: 0px;
        }
    #portfolio {
        margin-bottom: 44px;
    }
    .portfolio-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .portfolio-grid-item {
        width: 49%;
        height: 49%;
        margin-bottom: 57px;
    }
    .image {
        margin-bottom: 20px;
    }
    h3 {
        font-size: 1.2em;
    }
    .portfolio-grid-item > p {
        text-align: center;
        margin-right: 36px;
        margin-left: 36px;

        margin-bottom: 0px;
    }
    .calculator > p {
        margin-bottom: 0px;
    }

    /*Footer*/
    .footer-section {
        width: 100%;
    }
    #contact {
        margin-top: 60px;
        margin-bottom: 43px;
    }
    .contact-page-elements {
        font-size: 21px;
        text-align: center;
        line-height: 1.3em;

        margin-right: 90px;
        margin-left: 90px;
    }
    .contact-page-elements > p {
        margin-bottom: 46px;
    }
    address > p {
        line-height: 1.5em;
    }
    .footer-menu {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 82px;
        border-top: 1px solid #E7E7E7;
    }
    .other-devices-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 32%;
    }
    .mobile-only-footer {
        display: none;
    }
    .footer-item:link,
    .footer-item:visited {
        color: inherit;
    }
    .footer-item:hover {
        color: orange;
    }
    .footer-item:active {
        color: #FFE078;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        display: flex;
        justify-content: center;

        background-color: #FAFAFA;
    }
    .page {
        max-width: 1024px;
        background-color: #FAFAFA;
        border: 1px solid red;
    }
    /*Header*/
    .header-section {
        border: 1px aqua solid;
        margin-right: 20px;
    }
    header {
        border: 1px orange solid;
        margin: 0;
    }
    .navigation-menu-container {
        border: 1px blue solid;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        margin-bottom: 55px;
    }
    #top-page {
        margin-bottom: -12px;
    }
    .menu{
        border: 1px aqua solid;
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
    }
    .menu li {
        background-color: #FAFAFA;
        padding: 0 20px;
        margin-bottom: 0px;

        list-style-type: none;
    }
    .profile-section {
        border: 1px green solid;
        display: flex;
        flex-direction: row-reverse;
        justify-content:space-between;

    }
    .profile-picture {
        padding: 0px
    }
    .profile-text {
        font-size: 20px;
        text-align: left;
        line-height: 1.5em;
    }

}