* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4em;
}

.page {
    color: #4a4a4a;
    background-color: #FFFFFF;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
}

.header-section {
    background-color: #FAFAFA;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
}

header {
    margin: 14px;
}

#top-page {
    font-weight: 700;
    font-size: 1.5em;
    padding: 15px;
    margin-bottom: 10px;
}

.menu li {
    /* border: 1px red solid; */
    background-color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    margin-bottom: 5px;

    list-style-type: none;
}

h2 {
    font-weight: 700;
    font-size: 0.9em;
}

h3 {
    font-weight: 400;
    font-size: 1.1em;

    margin-bottom: 12px;
}

.image {
    width: 100%;
    margin-bottom: 30px;
}

.profile {
    width: 100%;
    padding: 40px 45px 25px 45px;
    /* border: 1px red solid; */
}

.main {
    margin: 14px;
}

#portfolio {
    margin-bottom: 52px;
}

p {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 36px;
}

.calculator > p {
    margin-bottom: 52px;
}

.footer-section {
    background-color: #FAFAFA;
}

footer {
    margin: 14px;
}

.contact-page {
    margin-top: 50px;
    margin-bottom: 65px;

    color: #7F7F7F;
}

#contact {
    margin-bottom: 32px;
    color: #4a4a4a;
}

address > p {
    margin-bottom: 15px;
}

address > p:last-of-type {
    margin-bottom: 0;
}

address > a {
    font-style: normal;
}

address {
    all: initial;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "Roboto", sans-serif;
    font-size: inherit;
    font-weight: inherit;
    color: #7F7F7F;
}

.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-bottom: 30px;
    padding: 25px 0 0 0;
    border-top: 1px solid #E7E7E7;
}

.footer-menu-elements {
    display: flex;
    justify-content: space-between;
    width: 100%;

    list-style-type: none;
    font-size: 12px;
    font-weight: 700;
}

.student-name-footer {
    font-size: 15px;
}

.menu-item:link,
.menu-item:visited {
    color: inherit;
}

.menu-item:hover {
    color: #FFE078;
}

.menu-item:active {
    color: orange;
}

.address-item:link,
.address-item:visited {
    color: inherit;
}

.address-item:hover {
    color: orange;
}

.back-to-top:link,
.back-to-top:visited,
.back-to-top:hover {
    color: inherit;
}

.back-to-top:active {
    color: orange;
}

/*
/*Mobile Styles
@media only screen and (max-width: 600px) {

}

/*Tablet Styles
@media only screen and (min-width: 601px) and (max-width: 960px) {

}

/*Desktop Styles
@media only screen and (min-width: 961px) {

}*/